@font-face {
    font-family: 'Square721 BT-roman';
    src: url('./Square721 BT-roman.ttf');
}
@font-face {
    font-family: 'Square721 BT-Italic';
    src: url('./Square721 BT-Italic.ttf');
}

@font-face {
    font-family: 'SmileySans-Oblique';
    src: url('./SmileySans-Oblique.ttf.woff2');
}

.number-font {
    font-family: Square721 BT-roman, serif;
}

.smiley-font {
    font-family: SmileySans-Oblique, serif;
}
